
@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');

/* ▼ 共通 ▼ */
html, body, div, span, iframe, h1, h2, h3, p, pre, img, dl, dt, dd, ol, ul, li, label, legend, table, tbody, tfoot, thead, tr, th, td, footer, header, menu, nav {
    margin: 0;
    padding: 0;
    border: 0;
}

html body{
    position: relative;
    color: #efead5;
    background-color: #7aa8af;
    font-family: 'Noto Serif JP', sans-serif;
    letter-spacing: 0.06em;
}

main{
    margin-top: 100px;    
    letter-spacing: 0.06em;
}

li {
    list-style: none;
}

.inner{
    max-width:1200px;
    padding: 5px 20px;
    margin: 0 auto;
}

.title{
    color: #fddb76;
    font-size: 20px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    letter-spacing: 0.08em;
    width: 50%;
}

.fade {
	opacity: 0;
	transform: translateY(35px);
	transition: opacity 3s, transform 2s;
}

.fade.active {
	opacity: 1;
	transform: translateY(0px);
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

h2{
    font-size:20px;
    margin: 15px 0px;
}

h3{
    font-size:18px;
    margin: 15px 0px;
}

p{
    font-size:16px;
    font-weight: 200;
}

a{
    font-size:16px;

}

header {
    height: 100px;
    width: 100%;
    top: 0;
    z-index: 99;
    position: fixed;
    background-color: rgba(122,168,175);
}

header .inner{
    display: flex;
    height: 90px;
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 99;
    transition: transform 0.3s 0.3s;
}

.header h1{
    cursor: pointer;
}

header.hidden {
    transform: translateY(-90px);
}

header img{
    height: 90%;
    margin-top: 3%;
}

header nav{
    margin:0 0 0 auto;
}

header ul{
    list-style: none;
    display: flex;
}

header li{
    margin: 25px 13px;
}

.c-txt a{
    color: #fff;
    font-size: 18px;
    padding: 15px;
    font-weight: 100;
}

.c-txt .now{
    color: #fddb76;
}

.c-txt a:hover{
    color: #fddb76;
    transition: .5s;
}

.c-txt.line {
    padding-bottom: 5px;
    position: relative;
}

.c-txt.line::before{
    background: #ecca63;
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: auto;
    transform-origin: center top;
    transform: scale(0, 1);
    transition: transform .5s;
}

.c-txt.line:hover::before {
    transform: scale(1, 1);
}

.bottom{
    width: 30%;
    margin: 0 auto;
    display: block;
    text-align: center;
    padding: 60px 0px;
}

.bottom img{
    height: 70px;
    margin: 0 auto;
}
 
.bottom p{
    margin: 10px;
}

footer{
    height: 70px;
    width: 100%;
    justify-content: center;
    bottom: 0;
}

footer p{
    text-align: center;
}

.sns-icon{
    margin: 0 auto;
}

.sns-icon img {
    height: 20px;
    margin: 10px;
}

.color{
    filter: brightness(0) saturate(100%) invert(69%) sepia(9%) saturate(997%) hue-rotate(140deg) brightness(90%) contrast(91%);
}

.button {
    position: relative;
    display: block;
    width: 160px;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    text-align: center;
    letter-spacing:.1em;
    font-weight: 600;
    font-size: 20px;
    /* border-radius: 17% / 32%; */
    color:#fddb76;
}

.button::before {
    content: "";
    display: block;
    position: absolute;
    width: 60px;
    left: 86px;
    height: 2px;
    background:#fddb76;
    bottom: 5px;
    transition: all .5s;
}

.button::after{
    content: "";
    display: block;
    position: absolute;
    width: 15px;
    height: 2px;
    background: #fddb76;
    rotate: 50deg;
    left: 135px;
    bottom: 10px;
    transition: all .5s;
}

.button:hover::before {
    width: 63px;
    translate:7px;
    transition: all .5s;
}


.button:hover::after {
    translate:10px;
    transition: all .5s;
}


/* ▲ 共通 ▲ */

/* ▼ ローディングアニメ ▼ */
.loading {
    width: 100%;
    height: 100vh;
    transition:all 2s 0s ease;
    background-color: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    opacity: 1;
    visibility: visible;
}

.loading.is-active {
    opacity: 0;
    visibility: hidden;
}

.loading-animation {
    width: 100%;
    height: 100vh;
    transition:all 2s 0s ease;
    background-color: #7aa8af;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
}

.loading-animation.is-active {
    opacity: 1;
    visibility: visible;
}

.loading-animation img{
    height: 100px;
    margin-bottom: 20px;
}

.border{
    padding: 0 120px;
    position: relative;    
}

.border:before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    border-bottom: solid 3px #ecca63;
    transform: translateX(-50%);
    animation: border_anim 1.5s 1s linear forwards;
}
  
@keyframes border_anim {
    0%{
      width: 0%;
    }
    100%{
      width: 100%;
    }
}
  
/* ▲ ローディングアニメ ▲ */

/* ▼ トップページ ▼ */

.main-visual{
    object-fit: cover;
}

.main-visual img{
    height: 85vh;
    margin: 0 auto;
    display: block;
}

.pc { 
    display: block !important; 
}

.sp { 
    display: none !important; 
}


.box{
    line-height: 180%;
    font-size: 230%;
    margin-top: 25%;
    left: 7%;
}

.top-left{
    text-shadow: 2px 2px 2px #ffffff; 
    margin-bottom: 0%;
}

/* .image:nth-of-type(1) {
    animation-delay: 0s;
}

.image:nth-of-type(2) {
    animation-delay: 3s;
}

.image:nth-of-type(3) {
    animation-delay: 6s;
}
  
@keyframes change-img-anim {
    0%{ opacity: 0;}
    20%{ opacity: 1;}
    33%{ opacity: 1;}
    63%{ opacity: 0;}
    100%{ opacity: 0;}
}   */

.gallery{
    height: 60vh;
    padding: 40px 0px;
    position: relative;
    overflow:hidden;
}

.gallery li{
    list-style: none;
}

.top-character{
    margin-left: 60%;
    z-index: 50;
    position: absolute;
    bottom:0;
}

.top-character img{
    vertical-align: bottom;
    height: 50vh;
    transition : all 0.5s ease 0s;

}

.top-character:hover img:first-of-type {
    opacity: 1;

}

.top-character img:last-of-type {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;

}

.top-character:hover img:last-of-type {
    opacity: 1;

}

.content{
    height: 100%;
}

.content1 {
    height: 80%;
    margin-left: 7%;
}

.content2 {
    margin-top: 60%;
    margin-left: 10%;
    height: 70%;
}

.content3 {
    margin-top: 10%;
    height: 45%;
}

.content4 {
    margin: 30% 0;
    height: 75%;
}

.content5 {
    height: 100%;
}

.content6 {
    margin-top:20%;
    height: 55%;
}

.content7 {
    margin-top:130%;
    height: 40%;
}

.wrap {
    position: absolute;
    display: flex;
    height: 63%;
    width: 100%;
    margin-bottom: 3%;
    overflow: hidden;
}

.slideshow {
    display: flex;
    -webkit-animation: loop-slide 80s infinite linear 1s both;
    animation: loop-slide 98s infinite linear 1s both;
    margin-bottom: 30px;
}

@-webkit-keyframes loop-slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
}

@keyframes loop-slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
}

.slide-paused:hover .slideshow {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

.content-hover {
    transition: all 0.2s;
}

.content-hover:hover {
    transform: rotate(0.007turn);
    opacity: 0.8;
    cursor: pointer;
}

.gallery .title{
    margin-bottom: 5%;
}

.gallery p{
    text-align: center;
    width: 100%;
    position: absolute;
    margin-bottom:40px;
    bottom: 0;
}

.gallery a{
    cursor: pointer;
    margin: 15px auto;
}

#content-profile{
    padding-top: 40px;
    background-color: #fff0b9;
    height: 30%;
    margin-bottom: 30px;
}

.profile{
    display: flex;
    width: 75%;
    max-width: 1000px;
    padding: 40px;
    margin: 0 auto;
}

.profile-text{
    margin-left: 30px;
    padding: 20px 0;
}

.profile-img {
    max-width: 400px;
    margin-left: 25px;
    height: auto;
}

.profile-img img{
    width: 100%;
}

#content-profile .title{
    color: #62939b;
}

.profile-text h3{
    color: #62939b;
    font-size: 18px;
    margin-bottom: 10px;
}

.profile-text{
    display: block;
    margin-left: 50px;
}

.profile-text p{
    color: #62939b;
    letter-spacing: 0.06em;
    line-height: 1.5em
}

footer{
    height: 70px;
    width: 100%;
    padding-top: 20px;
    bottom: 0;
}

footer p{
    text-align: center;
}

#content-contact{
    padding-top: 30px;
    text-align: center;
}

.contact{
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}

.contact-text{
    line-height: 200%;
    margin-top: 40px;
}

.contact-button{
    background-color: #fde18d;
    width: 250px;
    padding: 20px 25px;
    margin: 20px auto;
    position: relative;
    transition: all 0.3s ease;
    /* border-radius: 9999px; */
    box-shadow: 5px 7px #588991;
    cursor: pointer;
    color: #7aa8af;
    letter-spacing:.1em;
}

.contact-button::before{
    content: "";
    width: calc(100% - 15px);
    height: calc(100% - 15px) ;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 2;
    display: block;
    border:dotted 2px #7aa8af;
    /* border-radius: 9999px; */
}

.contact-button::after{
    content: '';
    position: absolute;
    top: calc(50% - 3px);
    right: 35px;
    display: block;
    width: 11px;
    height: 9px;
    background-color: #7aa8af;
    clip-path: polygon(0 0, 0 100%, 100% 50%);
    transition: all 0.3s ease;
}

.contact-button a{
    position: relative;
    color: #7aa8af;
    letter-spacing:.1em;
    z-index: 3;
}

.contact-button:hover {
    background: #ffe8a5;
    box-shadow: 0 0 #588991;
    transform: translateY(4px);
}

.contact-button:hover::after{
    right: 30px;
}

/* ▲ トップページ ▲ */

/* ▼ galleryページ ▼ */

.gallery-title{
    color: #ecca63;
    font-size: 20px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    letter-spacing: 0.08em;
    width: 50%;
}

.gallery-nav{
    display: block;
    position: fixed;
    width: 75px;
    right: 1050px;
    left: 40px;
}

.gallery-nav ul li{
    width: 85%;
    margin: 25px 0px;
    opacity: 0.5;
    transition: .7s ;
    cursor: pointer;
}

.gallery-nav ul li p{
    font-weight:bold ;
    text-align: center;
    font-size: 16px;
}

.gallery-nav ul li img{
    width: 100%;
    transition: .5s;
    transform: rotateZ( 0deg ) ;
}

.gallery-nav ul li:hover{
    opacity: 1;
}

.gallery-nav ul li:hover img {
    opacity: 2;
    transform: rotateZ( 7deg ) ;
}

.gallery-nav .now{
    opacity: 1;
}

.top {
    margin-left: 12%;
    margin-top: 3%;
}

.top ul{
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.top li{
    width: 20%;
    margin: 1%;
    position: relative;
}

.top img{
    width: 100%;
    vertical-align: bottom;
    transition: .5s;
}

.top div{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #8bcbd5;
    opacity: 0;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 170%;
    font-weight:bold ;
    color: #FFF;
    transition: .5s;
    letter-spacing: 0.06em;
}

.top li :hover img{
    transform: rotateZ( 2deg ) ;
    filter: blur(3px);
}

.top li :hover div{
    background: #98e4f0 0.3;
    opacity: 0.5;
    transform: rotateZ( 2deg ) ;

}

.popup_bg{
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width: 100%;
    height: 100vh;
    background: rgba(64,73,82,0.8);
    transition: 0.4s;
    z-index:101;
}

.popup_content{
    position: relative;	
}
  
.popup_box{	
    width: 50%;
    max-width: 75%;
    display: none;	
    position: fixed;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 110;
    background: #efead5;				
    padding: 35px;	
    border-radius: 20px;
}

.popup_box .tit{
    text-align: center;
    margin:0 auto 20px;
}

.popup_box .tit span{
    display: inline-block;
    height: 30px;
    font-size: 16px;
    line-height: 30px;
    background: #62939b;
    border-radius: 3px;
    padding: 0 10px;
}

.popup_box img{
    max-width: 100%;
    max-height: 70vh;
    display: block;
    object-fit: contain;
    margin: 0 auto;
    border-radius: 3px;
    margin-bottom: 20px;
}

.popup_box p{
    font-size: 16px;
    line-height: 1.8;
    color: #62939b;
    text-align: center;
}

.popup_box a{
    line-height: 1.8;
    color: #a88940;
    text-decoration:underline;
}


.popup_nav .prev{
    position:absolute;
    top:50%;
    left:-40px;
    transform: translateY(-50%);
    width: 30px;
    height: auto;
    z-index:130;
}

.popup_nav .next{
    position:absolute;
    top:50%;
    right:-40px;
    transform: translateY(-50%);
    width: 30px;
    height: auto;
}

.popup_nav .prev.disabled,
.popup_nav .next.disabled{
    display: none;
}

/*--close btn--*/
.popup_close{
    width: 30px;
    height: 30px;
    cursor: pointer;
    position:absolute;
    top:20px;
    right:20px;
    z-index:120;
} 

.popup_close span {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-indent: 100%;
    width: 30px;
    height: 2px;
    background: #434c55;
    position: absolute;
    left: 50%;
    top: 50%;
}

.popup_close span:nth-child(1) {
    transform: translate(-50%, 50%) rotate(45deg);
}

.popup_close span:nth-child(2) {
    transform: translate(-50%, 50%) rotate(-45deg);
}


.popup {
    width: 50%;
    margin: auto;
    position: relative;
    background: #fff;
    padding: 20px;
}



/* ▲ galleryページ ▲ */

@media only screen and (max-width: 768px) {

    * { margin: 0; padding: 0; }

    .loading-animation img{
    height: 70px;
    margin-bottom: 10px;
    }

    body{
        max-width: 100%;
        margin: 0 auto;
    }

    header{
        height: 70px;
    }

    header h1 a img{
        display: none;
    }    

    header .inner{
        display: block;
        position: static;
        padding: 0;
        line-height: 70px;
        height: 70px;
        text-align: center;
    }

    header nav {
        margin: 0;
        display: inline-block;
    }

    header li{
        margin: 0px 5px;
    }

    .c-txt.line {
        padding-bottom: 2px;
    }

    .c-txt.line::before{
        bottom: 25px;
    }

    .c-txt a {
        color: #fff;
        font-size: 16px;
        padding: 0px 7px;
        font-weight: 100;
    }
    
    .main-visual img{
        width: 100%;
        height: 420px;
        object-fit: cover;
        margin: 0 auto;
    }
    
    .pc { 
        display: none !important; 
    }
    
    .sp { 
        display: block !important; 
    }
    
    .top-character {
        margin-left: 60%;
        z-index: 50;
        position: absolute;
        bottom: 0;
    }

    .top-character img {
        vertical-align: bottom;
        height: 45vh;
    }

    
    .bottom{
        width: 75%;
        position: relative;
        margin: 0 auto;
        display: block;
        text-align: center;
        padding: 5%;
    }
    
    .bottom img{
        height: 55px;
        margin: 0 auto;
    }
        
    .sns-icon img{
        height: 20px;
        margin: 10px;
    }

    #content-profile{
        margin-bottom: 0;
        padding-bottom: 30px;
    }

    .contact{
        width: 90%;
        max-width: 1000px;
        margin: 0 auto;
    }

    .contact-text{
        line-height: 200%;
        margin-top: 30px;
    }
    
    .contact-button{
    width: 200px;
    }

    .contact-button a{
        font-size: 80%;
    }

    .profile {
        display: block;
        margin: 0 auto;
        padding: 0px;
    }

    .profile-img {
        max-width: 80%;
        margin: 0 auto;
        height: auto;
        display: block;
    }

    .profile img {
        max-width: 100%;
    }

    .profile-text {
        display: block;
        margin: 0 auto;
        padding: 0px 0px 20px 0px;
    }

    .profile-text h3{
        margin: 0;
    }

    .gallery-nav {
        width: 50%;
        height: 70px;
        position: relative;
        padding-top: 30px;
        margin: 0 auto;
        right: 0;
        left: 0;
    }

    .gallery-nav ul {
        display: flex;
    }

    .gallery-nav ul li {
        width: 50%;
        margin: 0px;    
        opacity: 0.5;
        transition: .5s;
        cursor: pointer;
        display: block;
        text-align: center;
    }
        
    .gallery-nav ul li img {
        width: 45px;
        transition: .7s;
        transform: rotateZ(0deg);
    }

    .top{
        margin: 0 auto;
        padding-top: 20px;
    }

    .top ul{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
    
    .top li{
        width: 100%;
        position: relative;
        margin: 0;
    }
    
    .popup_box{	
        max-height: 85%;
        width: 70%;
        display: none;	
        position: fixed;
        top:50%;
        left:50%;
        transform: translateX(-50%) translateY(-50%);
        z-index: 110;
        background: #efead5;				
        padding: 20px;	
    }

    .popup_close{
        width: 0px; 
        height: 0px;
    }

    .popup_box img{	
        max-height: 85vh;
    }

    .popup_nav .next {
        right: -11%;
    }

    .popup_nav .prev{
        left: -11%;
    }

    .popup_box p{
        font-size: 13px;
    }



}